.card {
  transition: all .2s ease-in-out!important;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03)!important;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
}